<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="divport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../../css/common.css" />
  <link rel="stylesheet" type="text/css" href="salelist.css" />
</head>
<body>


  <div class="container mt-65">
    <header class="header" id="header">  <!-- 2 -->
  		<h2 class="web-tit">经济人</h2>
  	</header>
      <!--index.wxml-->
      <div class="salelist" v-if="agentlist">

        <div class="item" v-for="v in agentlist">
          <div class="img"><img :src="website + v.headimg" /></div>
          <div class="info">
            <p class="name">{{v.name}}</p>
            <p class="phone">联系电话号：<i>{{v.telephone}}</i></p>
            <em class="iconfont icon-weibiaoti-"></em>
          </div>
        </div>
      </div>
      <div class="no-data" v-else>没有相关数据</div>
    </div>

 <!--底部导航  start-->
 <div class="register-btn-wrap" v-if="isAgent==1">
   <div class="register-btn register-btn01" onclick="bindViewsale()">修改信息</div>
   <div class="register-btn register-btn02" onclick="bindViewuserlist()">查看客户</div>
 </div>
 <div class="register-btn-wrap" v-else>
   <div class="register-btn" onclick="bindViewsale()">注册经纪人</div>
 </div>
 <script type="text/javascript" src="../../script/api.js"></script>
 <script type="text/javascript" src="../../script/jquery.min.js"></script>
 <script src="../../script/vue.js"></script>
 <script type="text/javascript" src="../../script/global.js"></script>
 <script type="text/javascript" src="salelist.js"></script>
 </body>
 </html>
