<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../css/common.css" />
  <link rel="stylesheet" type="text/css" href="index/index.css" />
</head>
<body>
<!--index.wxml-->
<open-data type="userAvatarUrl" style="display:none"></open-data>
<open-data type="userNickName" style="display:none"></open-data>
<open-data type="userGender" lang="zh_CN" style="display:none"></open-data>
<div class="container">
  <div class="search-wrap" id="header">
     <div  onclick="bindViewhouse_location()" class="index-location-btn"> {{region}}<div class="iconfont icon-jikediancanicon13"></div></div>
     <div  onclick="bindViewsearch()"  class="index-search-btn">
       <div class="iconfont icon-fangdajing"></div>
       搜索楼盘

     </div>
   </div>

  <div style="height:162px;width:100%;margin-bottom:15px;" class="banner"></div>
  <div class="intention-btn">
    <div class="tit">购房意向</div>
    <div class="info" onclick="bindViewintention()">{{purpose}}
      <div class="iconfont icon-jiantou1"></div>
    </div>
  </div>
  <!--标题  start-->
  <div class="title-wrap">
    <div class="fl title-name"><div class="iconfont icon-tuijianxiangmu"></div>推荐楼盘</div>
    <div  onclick="bindViewhouse()" class="fr more">全部</div>
  </div>
  <!--标题  end-->

  <!--楼盘列表  start-->
  <div class="pro-list" v-for="v in houselist">
    <div  onclick="bindViewproview(1)" class="pro-item" data-id="{{v.id}}">
      <div class="pro-img"><img :src="website + v.first_img" class="slide-image"/></div>
      <div class="pro-name">
        <div class="fl pro-tit">{{v.title}}</div>
        <div class="fr pro-priec" v-if="v.price">{{v.price}}<icon>元/平</icon></div>
        <div class="fr pro-priec" v-else>价格待定</div>
      </div>
      <div class="pro-address">{{v.address}}</div>
    </div>
  </div>
  <!--楼盘列表  end-->
<include src='/pages/share/share.wxml'/>
</div>

<!--底部导航  start-->
<div class="nav-wrap">
  <div onclick="bindViewprolist()" class="nav-item active">
    <div class="iconfont icon-loupan"></div>
    <div>楼盘</div>
  </div>
  <div onclick="bindViewsalelist()" class="nav-item">
    <div class="iconfont icon-xiaoshou"></div>
    <div>经纪人</div>
  </div>
  <div onclick="bindViewnews()" class="nav-item">
    <div class="iconfont icon-zixun"></div>
    <div>资讯</div>
  </div>
  <div onclick="bindViewprice()" class="nav-item">
    <div class="iconfont icon-fangjiameiyuanfangzimianxing"></div>
    <div>查房价</div>
  </div>
</div>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/jquery.min.js"></script>
<script src="../script/vue.js"></script>
<script type="text/javascript" src="../script/global.js"></script>
<script type="text/javascript" src="index/index.js"></script>
</body>
</html>
