/* pages/userlist/userlist.wxss */
.container{
  padding: 0 0 0 0;
}
.userlist{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.userlist .item{
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 10px 0 15px 40px;
  box-sizing: border-box;
  position: relative;
}
.userlist .item .img{
  position: absolute;
  left: 0;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #E4E4E4;
}
.userlist .item .img image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.userlist .item .info .name{
  font-size: 16px;
  color: #333;
  height: 30px;
  line-height: 30px;
}
.userlist .item .info .cont{
  font-size: 14px;
  color: #999;
  height: 19px;
  line-height: 19px;
  padding: 2px 0;
}
.userlist .item .info .cont icon{
  font-size: 14px;
  color: #333;
}
.userlist .item .state{
  width:100%;
  height: 28px;
}
.userlist .item .state div{
  float: left;
  width: 19%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
  font-size: 11px;
  color: #fff;
  background: #ddd;
}
.userlist .item .state icon{
  float: left;
  width: 1%;
  height: 2px;
  margin-top: 11px;
  background: #ddd;
}
.userlist .item .state div.active{
  background: #d5e0fe;
  color: #5f83e9;
}
.picker-txt{
  width: 52px;
  height: 30px;
  font-size: 13px;
  color: #5682f0;
  line-height: 30px;
  text-align: right;
}
