/**index.wxss**/
.container {
  padding-bottom: 60px;
}
.banner-swiper{
  display: block;
  width: 100%;
  height: 325rpx;
}
.banner-swiper image{
  display: block;
  width: 100%;
}
.search-wrap{
  width: 92%;
  height: 50px;
  position: relative;
  padding: 0 0 10px 25%;
  box-sizing: border-box;
  margin: 0 0 10px 0;
}
.index-location-btn{
  position: absolute;
  left: 0;
  top: 20px;
  width: 25%;
  padding: 0 26px 0 0;
  line-height: 20px;
  color: #666;
  font-size: 14px;
  height: 20px;
  margin: 10px 0 0 0;
  overflow: hidden;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
.index-location-btn div{
  width: 26px;
  text-align: center;
  padding: 0 3px 0 0;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;

}
.index-search-btn{
  width: 100%;
  color: #666;
  line-height: 40px;
  font-size: 14px;
  border-radius: 5px;
  background: #efefef;
  padding: 0 0 0 10px;
  box-sizing: border-box;
}
.index-search-btn div{
  float: left;
  padding: 0 5px 0 0;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
}
.title-wrap{
  width: 100%;
  height: 40px;
  padding: 4px 10px 0 10px;
  box-sizing: border-box;
}
.title-name{
  font-size: 18px;
  line-height: 36px;
  color: #333;
  font-weight: 500;
}
.title-name div{
  display: inline;
  color: #5682f0;
  font-size: 24px;
  padding: 0 3px 0 0;
}
.title-wrap .more{
  font-size: 14px;
  padding-top: 4px;
  line-height: 32px;
  color: #999;
}
.pro-list{
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
.pro-list .pro-item{
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 8px 0;
}
.pro-list .pro-item:first-child{
  border: 0 none;
}
.pro-list .pro-item .pro-img{
  width: 100%;
  overflow: hidden
}
.pro-list .pro-item .pro-img img{
  display: block;
  width: 100%;
  border-radius: 10px;
}
.pro-list .pro-item .pro-name{
  padding: 8px 0 0 0;
  height: 24px;
  overflow: hidden;
}
.pro-list .pro-item .pro-tit{
  font-size: 16px;
  color: #333;
  line-height: 24px;
  height: 24px;
}
.pro-list .pro-item .pro-priec{
  font-size: 18px;
  color: #df4a27;
  line-height: 24px;
  height: 24px;
}
.pro-list .pro-item .pro-priec icon{
  font-size: 12px;
  color: #999
}
.pro-list .pro-item .pro-address{
  font-size: 14px;
  color: #bdbdbd;
  line-height: 21px;
  padding: 4px 0 0 0;
}
.intention-btn{
  width: 100%;
  height: 50px;
  border-bottom: 10px solid #f0f0f0;
}
.intention-btn .tit{
  float: left;
  height: 30px;
  padding: 0 10px;
  margin: 10px 10px 0 0;
  font-size: 18px;
  line-height: 30px;
  color: #5682f0;
  border-right: 1px solid #5682f0;
}
.intention-btn .info{
  font-size: 14px;
  color: #333;
  height: 50px;
  overflow: hidden;
  line-height: 50px;
}
.intention-btn .info .iconfont{
  float: right;
  margin: 0 10px 0 0;
}
