<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../../css/common.css" />
  <link rel="stylesheet" type="text/css" href="sale.css" />
</head>
<body>
  <div class="container mt-65">
    <header class="header" id="header">  <!-- 2 -->
      <a class="go-back" onclick="api.closeWin()"></a>
      <h2 class="web-tit">经纪人注册</h2>
    </header>
    <!--pages/sale/sale.wxml-->
      <div class="sale-wrap" >
        <div class="sale-tit">
          <icon class="iconfont icon-gerenxinxi3"></icon>
          个人信息
        </div>
        <div class="item">
          <input class="txt" placeholder="真实姓名" id="name" name="name" v-bind:value="agentinfo.name"/>
          <div class="uploadimg-btn" onclick='getHeadimg()' >
            <img :src="showimg" />
          </div>
        </div>
        <div class="item">
          <input class="txt" placeholder="微信号"  id="wechat" v-bind:value='agentinfo.wechat' name="wechat" />
        </div>
        <div class="item">
          <select id="cardtype" class="picker-txt">
            <option v-for="v in array">{{v}}</option>
          </select>
        </div>
        <div class="item">
          <input class="txt" placeholder="证件号码" id="card" name="card"  v-bind:value='agentinfo.card'></input>
        </div>
        <div class="item">
          <input class="txt txt-arrow" name="address" placeholder="常住地" v-bind:value="province + '-' + city + '-' +  county" onclick="initArea()"></input>
          <icon class="iconfont icon-jiantou1"></icon>
        </div>
        <div class="sale-tit">
          <icon class="iconfont icon-yinhangqia"></icon>
          银行卡
        </div>
        <!-- <div class="item">
          <input class="txt" placeholder="开户行"></input>
        </div> -->
        <div class="item">
          <select  class="picker-txt" id="bank">
            <option v-for="v in bankarray">{{v}}</option>
          </select>
        </div>
        <div class="item">
          <input class="txt" placeholder="银行账号" name="account" id="account" v-bind:value='agentinfo.account'></input>
        </div>
        <button class="sub-btn" onclick="PostAgent()">提  交</button>
        <div class="agreement-wrap">
            <label class="checkbox-already">
              <input type="checkbox" name='agreement1' value="1" id="agreement" class="checkbox"/>我已阅读
            </label><icon onclick="binddivagreement()">经济人协议</icon>
        </div>
      </div>
  </div>

 <script type="text/javascript" src="../../script/api.js"></script>
 <script type="text/javascript" src="../../script/jquery.min.js"></script>
 <script src="../../script/vue.js"></script>
 <script type="text/javascript" src="../../script/global.js"></script>
 <script type="text/javascript" src="sale.js"></script>
 </body>
 </html>
