/* pages/count/count.wxss */
.body{
  height: 100%;
  	background-color: #fff;
}
.container {
  margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}
.count-tab{

  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 0;
  border-bottom: 10px solid #F6F5F5;
}
.count-tab p{
  display: inline-block;
  width: 48%;
  height: 20px;
  font-size: 14px;
  color: #666;
  line-height: 20px;
  margin-top: 10px;
}
.count-tab p:first-child{
  border-right: 1px solid #ccc;
}
.count-tab p.active{
  color: #4A81F8;
}
.count-price{
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 10px solid #F6F5F5;
}
.count-price .tit{
  display: block;
  font-size: 12px;
  color: #999;
  height: 20px;
  line-height: 20px
}
.count-price text{
  display: block;
  font-size: 20px;
  color: #4A81F8;
  height: 28px;
  line-height: 28px;
  margin-bottom: 10px;
}
.count-price .count-price-item div{
  float: left;
  height: 40px;
  padding: 0 15px 0 0;
  margin-right: 15px
}
.count-price .count-price-item p:first-child{
  border-right: 1px solid #ccc;
}
.count-price .count-price-item text{
  display: block;
  font-size: 12px;
  color: #999;
  height: 20px;
  line-height: 20px
}
.count-wrap{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.count-btn{
  width: 100%;
  height: 36px;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  background: #5682f0;
  margin: 15px 0 0 0;
}
.count-wrap .item{
  width: 100%;
  height: 50px;
  padding: 5px 0 5px 54px;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;

}
.hidden{
 display:none;
}
.count-wrap .item01{
  padding: 5px 0 5px 67px;
}
.count-wrap .item label{
  display: block;
  height: 41px;
  width: 54px;
  font-size: 13px;
  color: #777;
  line-height: 41px;
  position: absolute;
  left: 0px;
  top: 5px;
}
.count-wrap .item01 label{
  width: 67px;
}
.count-wrap .item .icon01{
  display: block;
  height: 41px;
  width: 15px;
  font-size: 13px;
  color: #333;
  line-height: 41px;
  position: absolute;
  right: 0px;
  top: 5px;
  text-align: right;
}
.count-wrap .item .txt{
  width: 100%;
  border: 0 none;
  height: 41px;
  text-align: right;
  padding: 0 15px;
  font-size: 13px;
  box-sizing: border-box;
}
.picke-txt{
  width: 100%;
  height: 41px;
  font-size: 13px;
  line-height: 41px;
  color: #333;
  box-sizing: border-box;
  text-align: right;
  padding: 0 15px;
}
.count-item{
  display: none;
}
.count-item.current{
  display: block;
}
#headerFixed{
	position: fixed;
	top:0;
	left:0;
	background-color: #fff;
	height: 44px;
	line-height: 44px;
	width: 100%;
	border-bottom: 1px #e77817 solid;
	z-index: 9999;
}
#headerFixed .header{
	position: relative;
	text-align: center
}
header .back{ position: absolute; left: 5px; cursor: pointer}
.header .back .iconfont{ font-size: 20px; vertical-align: middle}
